{
    "Generate exotic body": {
        "name": "Generate exotic",
        "description": "Creates an uniform exotic structure",
        "body": [
            {
                "name": "$1",
                "entity": "REPLACE_ME"
            }
        ]
    }
}