{
    "Generate formation body": {
        "name": "Generate formation",
        "description": "Creates a formation structure",
        "body": [
            {
                "version": 0,
                "rank_distances": [],
                "rank_groups": [],
                "pattern": {
                    "items": []
                }
            }
        ]
    }
}