{
    "Generate npc reward body": {
        "name": "Generate npc reward",
        "description": "Creates a generic npc reward structure",
        "body": [
            {
                "version": 0,
                "gui": {
                    "hud_icon": "",
                    "name": "",
                    "description": ""
                },
                "type": "$1"
            }
        ]
    }
}